<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="full">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>线路规划</title>
    <script type="text/javascript" src="//api.map.baidu.com/api?type=subway&v=1.0&ak=K3wK3NQLZMExb9VLnPXhsH1oEC47uCcL"></script>
    <style type="text/css">
        #container{height:100%}
    </style>
</head>
<body>

<div>地铁站点路径搜索</div>
<div class="searchbox">
    <form action="" method="post" name="message">
    {% csrf_token %}
    <label for="start">起点</label><br>
    <input type="text" name="startname" id="start">
    <br>
    <label for="end">终点</label><br>
    <input type="text" name="endname" id="end">
    <br>
    <button type="submit">提交</button>
    </form>
</div>
<div>{{ paths }}</div>
<div>{{ start }}</div>
<div>{{ end }}</div>
<div id="container"></div>
<script type="text/javascript">
    /**
     * 从所有城市列表中获取北京信息
     * 结果格式
     * {
     *     keyword: 'beijing',
     *     name: '北京',
     *     citycode: '131'
     * }
     */
    /* globals BMapSub */
    var start='{{ start }}';
    var end='{{ end }}';
    var subwayCityName = '昆明';
    var list = BMapSub.SubwayCitiesList;
    var subwaycity = null;
    for (var i = 0; i < list.length; i++) {
        if (list[i].name === subwayCityName) {
            subwaycity = list[i];
            break;
        }
    }
    // 获取北京地铁数据-初始化地铁图
    var subway = new BMapSub.Subway('container', subwaycity.citycode);
    var zoomControl  = new BMapSub.ZoomControl({
        anchor: BMAPSUB_ANCHOR_BOTTOM_RIGHT,
        offset: new BMapSub.Size(10,100)
    });
    subway.addControl(zoomControl);
    subway.addEventListener('subwayloaded', function() {
        var drct = new BMapSub.Direction(subway);
        drct.search(start, end);
        {#drct.search('穿心鼓楼','昆明南火车站');#}
    });
    subway.addEventListener('directioncomplete', function() {
        alert('可以自定义点击详情后的操作！');
    });
</script>
</body>
</html>
