<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" class="full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>用户登陆</title>
    <link href="{% static 'css/output.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
</head>
<body class="full bg-cover bg-center" style="background-image:url({% static '/images/background.jpg' %})">
    <div class="full flex items-center">
        <div class="top">
            <div>
                <a href="{% url 'home' %}">
                    <i class="fa fa-home mx-4"></i>
                </a>
            </div>
            <div class="flex flex-row items-center">
                <div>
                    <a href="{% url 'home' %}">首页</a>
                </div>
                <i class="fa fa-user mx-4"></i>
            </div>
        </div>
        <div class="box">
            <form action="{% url 'user:login_user' %}" method="post" name="message">
                {% csrf_token %}
                <div class="submit">
                    <div class="flex flex-row space-x-4">
                        <div class="flex flex-col space-y-8">
                            <label for="tel">手机号</label>
                            <label for="password">密码</label>
                        </div>
                        <div class="flex flex-col space-y-8">
                            <input type="tel" name="tel" id="tel" placeholder="请输入手机号" maxlength=11 pattern=[0-9]*? title="请正确输入手机号" class="border border-slate-500 border-solid">
                            <input type="password" name="password" id="password" placeholder="请输入密码" class="border border-slate-500 border-solid">
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="rounded px-5 py-1.5 transition ease-in-out delay-150 bg-blue-300 hover:-translate-y-1 hover:scale-110 hover:bg-blue-500 duration-300">登录</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="bottom">
            <p>Copyright©2022  版权所有 智能出行导航系统</p>
        </div>
    </div>
</body>
</html>